body {
	background-color: #135;
	font-family: georgia;
	line-height: 1.2;
	font-size: 1.2em;
	color: #ddd;
}

#wrapper {
	float: left;
	width: 35em;
	margin: 2em;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 1px solid #666;
}

#breadcrumbs {
	font-size: 0.8em;
}

.breadcrumb:after {
	content: " / "
}

h2 {
	margin: 2em 0 1em;
	font-size: 1.25em;
	font-weight: bold;
	color: #98afd4;
	border-bottom: 1px dotted #666;
}

h3 {
	font-size: 1.1em;
	font-weight: bold;
	color: #98afd4;
}

h3 {
	font-size: 1.1em;
	font-weight: italic;
	color: #98afd4;
}

a {
	color: #3d3;
	text-decoration: none;
}

a:visited {
	color: #493;
}

a:hover, a:active, a:focus {
	color: #dd4;
}

#content {
	margin: 3em 0;
}

#footer {
	display: inline;
	text-align: center;
	color: #999;
	margin: 3em 0 0 0;
	padding-top: 1em;
	border-top: 1px solid #666;
	font-size: 0.8em;
}
