body {
	background-color: #135;
	font-family: georgia;
	line-height: 1.2;
	color: #ddd;
	width: min(35em, 100%);
	margin: 2em;
}

header > .breadcrumbs {
	font-size: 0.8em;
}

.breadcrumb:after {
	content: " / "
}

main {
	margin: 3em 0;
}

footer {
	display: inline;
	text-align: center;
	color: #999;
	margin: 3em 0 0 0;
	padding-top: 1em;
	border-top: 1px solid #666;
	font-size: 0.8em;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 1px solid #666;
}

h2 {
	margin: 2em 0 1em;
	font-size: 1.25em;
	font-weight: bold;
	color: #9bd;
	border-bottom: 1px dotted #666;
}

h3 {
	font-size: 1.1em;
	font-weight: bold;
	color: #9bd;
}

h3 {
	font-size: 1.1em;
	font-weight: italic;
	color: #9bd;
}

a {
	color: #4c3;
	text-decoration: none;
}

a:visited {
	color: #4a3;
}

a:hover, a:active, a:focus {
	color: #dd4;
}

img {
	max-width: 100%;
}

.thumbnail-grid {
	display: grid;
	grid: auto-flow dense / repeat(auto-fit, minmax(10em, 1fr));
	list-style: none;
	padding: 0;
	grid-gap: 10px;
	gap: 10px;
}

.thumbnail-grid li {
	padding: 1em;
	text-align: center;
	background-color: #468;
	border: 1px solid #345;
}

.thumbnail-grid img {
	min-width: 50%;
	max-width: 100%;
}
