---
layout: default
---
		<h2>Portfolio</h2>
		<ul>
			<li><a href="/assets/pdf/Vivian-Heyman-Resume.pdf">Resumé</a></li>
			<li><a href="/image_portfolio">Paintings</a></li>
			<li><a href="https://qwertystop.itch.io">Games (itch.io)</a></li>
		</ul>
    <h2>Blog</h2>
    <ul>
     {% for category in site.categories %}
     <li>
      <a href="/{{ category | first }}">{{ category | first | capitalize }}</a>
     </li>
     {% endfor %}
    </ul>
    <h2>Latest</h2>
     {%- assign last_date = "" -%}
     {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
     <dl>
     {%- for post in site.posts limit: 10 -%}
      {% unless last_date == post.date %}
       {% assign last_date = post.date %}
       <dt>{{ post.date | date: date_format }}</dt>
      {% endunless %}
       <dd><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></dd>
     {%- endfor -%}
    </dl>
